.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 15px;
    
    table {
        width: 100%;
    }

    .avatar-img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
}