@import '@angular/material/theming';

@include mat-core();

$primary-palette: mat-palette($mat-teal);
$accent-palette:  mat-palette($mat-pink, A200, A100, A400);
$theme: mat-dark-theme(  
  $primary-palette,
  $accent-palette 
);

@include angular-material-theme($theme);